
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.navBar{
    padding: 0.5%;
    display: flex;
    justify-content: flex-end;
    width: 97%;
    height: 4%;
}

#active {
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
}

a{
    width: 8%;
    color: black;
    background-color: rgb(240, 240, 240);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: solid black 2px;
    margin: 0px 4px 0px 4px;
    padding: 0px 1% 0px 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 3%;
    font-family: 'Rubik Mono One', sans-serif;
    background-image: linear-gradient(to right, rgb(129, 129, 255) 40%, rgb(240, 240, 240) 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px grey;
}



.welcome{
    font-size: 3vh;
    width: 50%;
}

.initalContainer{
    padding: 3px;
    width: 30%;
    position: fixed;
    left: 5%;
    top: 8%;
    font-size: 5em;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 33% 33% 33%;
}

.inital{
    justify-self: flex-end;
}

@keyframes nameAnimation{
    0%   {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

.name{
    opacity: 0;
    justify-self: flex-start;
    animation: nameAnimation 5s ease-in 1s infinite alternate none;
}


@media only screen and (max-width: 1400px) {


    .mainContainer{
        margin: 5%;
    }

    .initalContainer{
        left: 8%;
        top: 10%;
        font-size: 6vh;
    }

    .navBar{
        padding: 1%;
        padding-bottom: 0.5%;
        display: flex;
        justify-content: flex-end;
        width: 95%;
        height: 5%;
    }



  }


  @media only screen and (max-width: 800px) {


    .mainContainer{
        margin: 6.5%;
    }

    .initalContainer{
        left: 9%;
        top: 10%;
        font-size: 6vh;
    }

    .navBar{
        padding: 0.5%;
        width: 93.5%;
        height: 5%;
    }

    a{
        font-size: 8px;
        width: 11%;
    }



  }




@media screen and (max-width: 650px) {

    .mainContainer{
        margin: 8%;
        background-image: linear-gradient(to right, rgb(129, 129, 255) 50%, rgb(240, 240, 240) 0%);
    }

    .initalContainer{
        left: 11%;
        font-size: 5vh;
    }

    .welcome{
        font-size: 2vh;
        width: 60%;
    }

    .navBar{
        padding: 0.5%;
        width: 92%;
        height: 4%;
    }

    a{
        width: 10%;
        font-size: 7px;
        margin: 1% 2px 0px 2px;
        padding: 0px 1% 0px 1%;
    }

  }