
.projectList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-btn{
    background-color: transparent;
    width: 100%;
    height: 10%;
    font-family: 'Rubik Mono One', sans-serif;
    font-style: italic;
    font-size: 1.5vw;
    border: none;
}

.dropdown-btn:hover{
    cursor: pointer;
}

.dropdown-btn:focus{
    outline: none;
}

.active {
    background-image: linear-gradient(to right, transparent, rgb(40, 40, 40, 0.9));
    color: white;
}

.fa-caret-down{
    position: fixed;
    right: 5%;

}

.dropdown-container{
    overflow: scroll;
    width: 100%;
    height: 70%;
    display: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
}

.dropdown-container::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.project{
    margin: 10%;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(40, 40, 40, 0.9);
    border-radius: 10px;
    box-shadow: 4px 4px 2px black;
    color: grey;
    overflow: hidden;
}

.project:hover{
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

.projectTitle{
    padding-top: 10px;
    width: 100%;
    height: 30%;
    font-size: 1.5vw;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectPreview{
    width: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.75;
}

/* right side of screen code: */

.projectScreen{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.screenTitle{
    width: 100%;
    height: 10%;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5vw;
    text-align: center;
}

.projectSources{
    padding: 5px;
    width: 97.5%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sourceCode {
    text-decoration: none;
    color: white;
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.5vw;
}

.sourceCode:hover{
    color: grey;
    cursor: pointer;
}

.sourceCode img{
    padding: 5px;
    height: 90%;
    width: auto;
}



.projectReadme{
    width: 90%;
    height: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(100, 100, 100);
    overflow: scroll;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
}

.projectReadme a{
    color: rgba(111, 111, 197);
}

.projectReadme a:hover{
    color: rgb(100, 100, 100);
}



.projectReadme::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: rgb(40, 40, 40, 0.9);
}




/* Media Screen Sizing: */
@media screen and (max-width: 900px) {

    .project{
        margin: 10%;
    }

    .dropdown-btn{
        font-size: 2vw;
    }

    .projectTitle{
        height: 35%;
        font-size: 1.8vw;
    }

    .projectReadme{
        font-size: 15px;
    }

}

@media screen and (max-width: 600px) {

    .project{
        margin: 10%;
    }

    .dropdown-btn{
        font-size: 2vw;
    }

    .projectTitle{
        height: 35%;
        font-size: 1.5vw;
    }


    .projectSources{
        padding: 5px;
        width: 97.5%;
        height: 15%;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    
    .sourceCode {
        height: 100%;
        width: 45%;
        padding: 5px;
        font-size: 2vw;
    }
    .sourceCode img{
        padding: 5px;
    
        height: 100%;
        width: 32.5%;
    }

    .projectReadme{
        font-size: 12px;
    }

}




















